.player{
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.time-control{
    width: 50%;
    display: flex;
    input{
        width: 100%;
        cursor: pointer;
    }

    p{
        padding: 1rem;
    }
}

input[type="range"]:focus{
    outline: none;
}

.play-control{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    svg{
        cursor: pointer;
    }
}

@media screen and (max-width:768px){
    .time-control{
        width: 90%;
    }

    .play-control{
        width: 60%;
        justify-content: space-around;
    }


}