* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
  color: "#545454";
}

h3,
h4 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}

.App {
  height: 100vh;
  transition: all 0.5s ease;
}

.dark-theme {
  background-color: #333;
  color: #fafafa;

  // nav.scss
  .nav-right {
    button {
      border-color: #fafafa;
      color: #fafafa;

      &:hover {
        background-color: #fafafa;
        color: #333;
      }
    }
  }

  // songs.scss
  .song-container {
    h3 {
      color: #fafafabd;
    }
  }

  // player.scss
  .player {
    .time-control {
      p {
        color: #fafafad3;
      }
    }

    .play-control {
      svg {
        color: #fafafad3;

        &:hover {
          background-color: rgba(233, 216, 243, 0.331);
        }
      }
    }
  }

  // library.scss
  .library {
    background-color: #333;
    box-shadow: 2px 2px 50px rgb(15, 15, 15);
    .library-song-container {
      // opacity: 0.5;
      .song-description {
        h3 {
          color: #f7f7f7ea;
        }
        h4 {
          color: #f7f7f79e;
        }
      }

      &:hover {
        background-color: rgba(222, 222, 255, 0.158);
      }
    }

    .selected {
      background-color: rgba(223, 192, 246, 0.5);
      .song-description {
        h3 {
          color: #f7f7f7;
        }
        h4 {
          color: #f7f7f7e0;
        }
      }
    }
  }
}

.shift-to-right {
  // margin-left: 15%;
  margin-left: 20rem;
}

@media screen and (max-width: 1600px) {
  .shift-to-right {
    // margin-left: 20%;
  }
}
@media screen and (max-width: 1440px) {
  .shift-to-right {
    // margin-left: 25%;
  }
}
@media screen and (max-width: 1240px) {
  .shift-to-right {
    // margin-left: 30%;
  }
}
@media screen and (max-width: 1024px) {
  .shift-to-right {
    margin-left: 35%;
  }
}

@import "./player";
@import "./song";
@import "./library";
@import "./nav";
